h1 {
  text-align: center;
}

.slider:hover {
    opacity: 1;
}

#chart {
    margin: auto;
}

.sliderContainer {
  width: 100px;
  margin:0 auto;
}

.buttonContainer { 
  margin: auto;
  width: 400px;
}

.button {
  background-color: #314374;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.content {
  text-align: center;
}